# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# C extensions
**/*.so

# Jupyter Notebook
**/.ipynb_checkpoints

# Jetbrains
**/.idea

# vscode
**/.vscode

# mp4 files
**/*.mp4

# image files
**/*.png
**/*.jpg
**/*.jpeg


