.my-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px #333333;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.my-card:hover {
  transform: translate(5px, 5px);
  z-index: 14;
}

.my-card.small {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.my-card:hover {
  box-shadow: 0 5px 15px #333333;
}

.my-card img.thumbnail-image {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.my-card-scoreboard {
  position: absolute;
  bottom: 0px;
  width: 161px;
  height: 65px;
  padding: 5px;
  right: 0px;
  background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
}
.my-card-scoreboard.small {
  width: 147px;
  height: 59px;
}
.team-image img {
  height: 55px;
  width: 55px;
}
.team-image img.small {
  height: 45px;
  width: 45px;
}

.team-image .homeTeam {
  left: 0;
}

height: 75px;
.team-image .awayTeam {
  right: 0;
}

.vs {
  position: absolute;
  color: #707070;
  right: 11%;
  bottom: 5%;
  font-size: 14px;
  font-weight: bold;
}

.vs.small {
  right: 21%;
  bottom: 9%;
}

.my-card.very-small {
  width: 328px;
  height: 186px;
}
.my-card-scoreboard.very-small {
  width: 72px;
  height: 29px;
}
.team-image img.very-small {
  width: 17px;
  height: 18px;
}
.vs.very-small {
  right: 9%;
  bottom: 3%;
  font-size: 10px;
}

.play-logo {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 75px;
  height: 75px;
}

.play-logo.small {
  height: 40px;
  width: 40px;
}
