.accent-hover-class:hover {
  color: #c55a11 !important;
}

.custom-link,
.custom-link:active {
  text-decoration: inherit !important;
  color: inherit;
}

.link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 2.5;
  cursor: pointer !important;
}

.link:hover {
  color: #c55a11 !important;
}

.navbar-brand {
  margin-top: 1px;
}

.custom-google-icon {
  font-size: 25px;
}

.dark-nav {
  background-color: #363636;
  color: #dcdcdc;
}

.my-btn {
  padding: 0.45rem 1rem;
}

.upload-container {
  cursor: pointer;
  margin-right: 40px;
  font-size: 1rem;
}

.uploadlogo{
  height: 41px;
  margin-right: 5px;
  color: #dd4a00;
}
