.notification {
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
    opacity: 0;
    transform: translate(0, 100px);
    max-width: 400px;
}


.notification.show {
    opacity: 1;
    transform: translate(0, 0);
}