.search-bar-container {
  position: relative;
  width: 720px;
  height: 51px;
  margin: 50px auto 0px auto;
}
.filters {
  width: 720px;
  height: 51px;
  margin: 10px auto;
}

.search-icon {
  top: 8px;
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
}

.my-search,
.my-search:active,
.my-search:focus {
  background-color: #363636;
  color: #f8f9fa;
  padding-left: 122px;
}

.search-placeholder {
  top: 2px;
  position: absolute;
  left: 8px;
  font-size: 24px;
}
.search-placeholder::after {
  content: "";
  border-right: 2px solid #f8f9fa;
  margin-left: 12px;
}
